.adminManagementPaper {
  height: auto;
  width: 50%;
  margin: 3% auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.titleText{
  color: #512DA8;
  text-align: center;
}
.adminManagementWrapper{
  background-color: #D1C4E9;
  display: flow-root;
}
