.titleText{
  color: #512DA8;
}
.categoryPaper {
  height: auto;
  width: 50%;
  margin: 10% auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.categoryWrapper {
  background-color: #D1C4E9;
  display: flow-root;
}
.cancelCategoryBtn, .submitCategoryBtn {
  margin: 5px 0;
}
