.categoryDiv{
  padding-left: 256px;
}
.titleText{
  color: #4A148C;
}
/*.errorStyle{
    color: #4A148C;
}
.underlineStyle{
    borderColor: #4A148C;
}
.floatingLabelStyle{
    color: #4A148C;
}
.floatingLabelFocusStyle{
    color: #4A148C;
}*/
