.titleText{
  color: #512DA8;
}
.registerPaper {
  height: auto;
  width: 50%;
  margin: 3% auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
  background-color: #D1C4E9;
}
.registerBtn{
  margin: 10px 0px 10px 00px;
}
.registerWrapper {
  background-color: #D1C4E9;
  display: flow-root;
}
