.registerDiv {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  /*left: 100px;
  top: 60px;*/
}
.titleText{
  color: #512DA8;
}
.registerPaper {
  height: 550px;
  width: 450px;
  margin-top: 40px;
  margin-left: 450px;
  margin-right: 450px;
  textAlign: center;
  display: inline-block;
}
