/*@font-face {
    font-family: OstrichSansBold;
    src: local(OstrichSansBold), url('../../media/fonts/ostrich-sans-bold.woff') format('woff');
}*/
/*@font-face {
    font-family: OstrichSansRegular;
    src: url('../../media/fonts/ostrich-sans-regular.woff') format('woff');
}*/
