.aboutPaper{
  height: auto;
  width: 50%;
  margin: 8% auto;
  padding: 10px 10px 10px 10px;
  text-align: left;
}
.titleText{
  color: #512DA8;
  text-align: center;
}
.aboutWrapper {
  background-color: #D1C4E9;
  display: flow-root;
}
