.resetPasswordPaper {
  height: auto;
  width: 50%;
  margin: 8% auto;
  padding: 10px 10px 10px 10px;
  text-align: center;
}
.resetPasswordBtn{
  margin: 10px 0px 10px 0px;
}
.titleText{
  color: #512DA8;
}
