.codeDiv{
  padding-left: 256px;
}
.row {
  td {
    background-color: red;
  }
}
.codePaper{
  height: auto;
  width: 50%;
  margin: 10px 200px 10px 200px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  display: inline-block;
  position: absolute;
}
