.eventListDiv {
  padding-left: 256px;
}
.eventListPaper{
  height: auto;
  width: 50%;
  margin: 100px 200px 100px 200px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  display: inline-block;
  position: absolute;
}
