.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.statusLabel {
  padding: 5px 5px;
  font-size: large;
}
.chip {
    margin: 4px;
}
.eventDetailsPaper {
  height: auto;
  width: 50%;
  margin: 3% auto;
  text-align: left;
}
.eventDetailsWrapper {
  background-color: #D1C4E9;
  display: flow-root;
}
.detailsTextDiv, .placeTextDiv, .timeTextDiv {
  padding: 5px 5px;
  font-size: large;
}
