.loginDiv {
  padding-left: 256px;
}
.titleText {
  color: #00bcd4;
}
/*.loginPaper {
  height: 300px;
  width: 450px;
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 150px;
  margin-bottom: 150px;
  textAlign: center;
  display: inline-block;
}*/
